# My first Jupyter notebook

In [3]:
# displaying a string

print("hello world")

hello world

In [10]:
a = 10
b = 55

result = a + b

In [6]:
result

65

In [ ]:
# camelCase
# snake_case


Valid Variable Name   |  Invalid Variable Name
----------------------|-----------------------
name_data             |  name - data (hyphens are not allowed)
namedata              |  name data(spaces are not allowed)
name1                 |  1name(can`t begin with number)
_25                   |  25(can`t begin with number)
Total_Sum             |  `Total_$um` (Special chracters like $ are not allowed)
hello                 | 'hello'(Special chracters like ' are not allowed)

In [2]:
?print

In [ ]:
# commonly used built-in functions

# input func
# len func
# type func
# id func

# python operators


# Common Data Types

# type casting

# Keywords



# String Indexing **

In [5]:
?input

In [20]:
a = int(input("Enter a number..."))
b = int(input("Enter another number..."))

print("Sum of the given two number is: ")
print(a + b)

Enter a number...3
Enter another number...2
Sum of the given two number is:
5

In [19]:
type(a)

# perform type casting in order to change the data type

Sum of the given two number is:
6

In [8]:
# Data Types in Python
# Numeric - int, float, complex 
# Boolean - True, False


x = 6 # int - -1, -2, 0, 1, 100

y = 3.2 # float -3.5, -1.2, 2.0, 5.6

z = 3 + 2j

In [13]:
# type func

type(y)

float

In [22]:
name1 = input("What is your name?")

print("Your name is: ", name1)

What is your name?Joe
Your name is:  Joe

In [ ]:
# operators

# +, -, /, * 
# exponents 2**3
# // floored division
# % modulo operator/ modulus

In [23]:
56 / 6

9.333333333333334

In [24]:
56 // 6

9

In [25]:
56 % 6

2

In [28]:
last = input("Enter your last name: ")
first = input("Enter your first name: ")

print("Therefore your full name is: ", first + " " +last)

Enter your last name: Jacob
Enter your first name: Joe
Therefore your full name is:  Joe Jacob

In [32]:
"John" * 5

'JohnJohnJohnJohnJohn'

In [38]:
# assignment operators

# =
# +=
# -=
# *=
# /=

In [37]:
a = 5

a -= 1

a

4

In [42]:
# boolean data type
type(False)

bool

In [43]:
# comparison

# == check if equal or not
# > checks if greater than or not
# < checks if less than or not
# >= checks if grater or equal
# <=

In [47]:
"Joe" == "joe"

False

In [48]:
a = 5
b = -5

a == b

False

In [52]:
name2 = input("What is your name?")

print("Your name contains ", len(name2), "characters")

age = int(input("What is your age?"))

print("You will be", age + 5, "in five years.")

What is your name?Arpit
Your name contains  5 characters
What is your age?18
You will be 23 in five years.

In [51]:
len("Dataisgood")

10